@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif; */

:root{
    --primary: #0B7BC3;
    --white: #fff;
    --black: #000;
    --nav-links: #263238;
    --light-border-color: rgba(207, 216, 220, 0.62);
    --text: #036;
    --header-text: #546E7A;
    --banner-gradient: linear-gradient(180deg, #E1F5FE 0%, #FFF 100%);
}